<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tentang Saya </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <p>Guess The Number (1-10)</p>
    <input [(ngModel)]="userNumber" type="number" /><br />
    <ion-button (click)="check()">Guess</ion-button>
    <span *ngIf="match">
      <img src="assets/img/avatar.png" class="center" />
    </span>
  </div>
  <h1>John Appleseed</h1>
  <h2>Website Developer</h2>
  <h2>john.appleseed@icloud.com</h2>
</ion-content>
